@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');

body.join-game-page {
    background-image: url('/images/JoinGameBackground.png'); /* din chess-statyer-bild */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
}
