@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&display=swap');

/* Bakgrund + font för Sign up-sidan */
body.signup-page {
background-image: url('/images/home.png'); /* eller egen SignIn-bild */
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
font-family: 'Cinzel', serif;
}

