@model ChessAndQuests.Models.GameDetails
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor


@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    <link rel="stylesheet" href="~/css/PlayGame.css" />
    <link rel="stylesheet" href="~/css/chessboard.css" />
}



<header>Lets play chess!</header>
<p> Spelare Vit: @Accessor.HttpContext.Session.GetString("CreatedPlayer")</p>
<p> Spelare Svart: @Accessor.HttpContext.Session.GetString("JoinedPlayer")</p>

<div id="board" style="width: 600px; height: 600px"></div>

@section Scripts {
    <script src="~/js/chessboard.js"></script>
    <script>
        var board = Chessboard('board', {
            position: '@Model.CurrentFEN',
            pieceTheme: '/images/chesspieces/{piece}.png',
            draggable: true,
            dropOffBoard: 'snapback',
        });
    </script>
}

