@model ChessAndQuests.Models.GameViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div id="gamekey" data-game-key="@Model.GameKey"></div>



@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    <link rel="stylesheet" href="~/css/PlayGame.css" />
    <link rel="stylesheet" href="~/css/chessboard.css" />
}



<header>Lets play chess!</header>

<div>
    <strong>White:</strong><span id="playerWhite">@Model.PlayerWhiteName</span> <br />
    <strong>Black:</strong> <span id="playerBlack">@Model.PlayerBlackName</span>
</div>

<div id="board" style="width: 600px; height: 600px"></div>

@section Scripts {
    <script src="~/js/chessboard.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Game.js"></script>
    <script>
        var board = Chessboard('board', {
            position: '@Model.CurrentFEN',
            pieceTheme: '/images/chesspieces/{piece}.png'
            draggable: true,
            dropOffBoard: 'snapback',
        });
    </script>
}

