@model ChessAndQuests.Models.GameDetails
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor


@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    <link rel="stylesheet" href="~/css/PlayGame.css" />
    <link rel="stylesheet" href="~/css/chessboard.css" />
}

<body class="play-game-page">

<header id="letsplay">Lets play chess!</header>

<p class="players"> Spelare Vit: <strong>@Accessor.HttpContext.Session.GetString("CreatedPlayer")</strong></p>
<p class="players"> Spelare Svart: <strong>@Accessor.HttpContext.Session.GetString("JoinedPlayer")</strong></p>

<div id="board"></div>

</body>

@section Scripts {
    <script src="~/js/chessboard.js"></script>
    <script>
        var board = ChessBoard('board', {
            position: 'start',
            pieceTheme: '/images/chesspieces/alpha/{piece}.png',
            draggable: true
            
        });
    </script>
}

