@model ChessAndQuests.Models.GameViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<div id="gamekey" data-game-key="@Model.GameKey"></div>



@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    
    <link rel="stylesheet" href="~/css/chessboard.css" />
    <link rel="stylesheet" href="~/css/PlayGame.css" />
}

<body class="play-game-page">

<header id="letsplay">Lets play chess!</header>

<header>Lets play chess!</header>

<div id="players">
    <strong>White:</strong><span id="playerWhite">@Model.PlayerWhiteName</span> <br />
    <strong>Black:</strong> <span id="playerBlack">@Model.PlayerBlackName</span>
</div>


<div id="board"></div>

</body>

@section Scripts {
    <script src="~/js/chessboard.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Game.js"></script>
    <script>
        var board = ChessBoard('board', {
            position: 'start',
            pieceTheme: '/images/chesspieces/alpha/{piece}.png',
            draggable: true
            
        });
    </script>
}

