@model ChessAndQuests.Models.GameDetails



@{
    ViewData["Title"] = "Lets play!";
}


@section Styles {
    <link rel="stylesheet" href="~/css/PlayGame.css" />
}



<header>Lets play chess!</header>

<div id="board" style="width = 600px;"></div>

@section Scripts {
    <script src="~/js/chessboarsjs"></script>
    <script>
        var board = Chessboard('board', {
            position: '@Model.CurrentFEN'
        });
    </script>
}

