

<div id="board"></div>

@section Styles {
    <link rel="stylesheet" href="~/css/chessboard.css" />
    <link rel="stylesheet" href="~/css/PlayGame.css" />
}
@* overlay promotion *@
<div id="promotionOverlay" style="display:flex">
    <div class="promotionBox">
        <div class="promotionButtons">
            <button data-piece="q">Queen</button>
            <button data-piece="r">Rook</button>
            <button data-piece="b">Bishop</button>
            <button data-piece="n">Knight</button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/chessboard.js"></script>
    <script>
        var board = ChessBoard('board', {
            position: 'start',
            pieceTheme: '/images/chesspieces/alpha/{piece}.png',
            draggable: true
        });
    </script>
}

