



@section Styles {
    <link rel="stylesheet" href="~/css/chessboard.css" />
    <link rel="stylesheet" href="~/css/PlayGame.css" />
}
<body class="play-game-page">
@* overlay promotion *@
<div id="promotionOverlay" style="display:flex">
    <div class="promotionBox">
        <div class="promotionButtons">
            <button data-piece="q">Queen</button>
            <button data-piece="r">Rook</button>
            <button data-piece="b">Bishop</button>
            <button data-piece="n">Knight</button>
        </div>
    </div>
</div>
    <section id="gameInfo">
        <div class="move-container">
            <div id="lastMoveText">
            </div>
        </div>

        <div class="board-container">

            <div id="playerTop"></div>

            <div id="board"></div>

            <div id="playerBottom"></div>

        </div>
        <div class="quest-container">
            <div class="quest-scroll">
                <div id="quest">
                    <h2 id="questTitle">Pawn Collector</h2>
                    <p id="questDescription">Be the first to take a pawn!</p>
                </div>
                <div id="playerQuest">
                    <p id="myPlayerQuest"> 0 / 10</p>
                    <p id="myQuestProgress"> 0/3</p>
                    <p id="opponentQuestProgress"> 1/3</p>
                </div>
            </div>
        </div>
    </section>

</body>
@section Scripts {
    <script src="~/js/chessboard.js"></script>
   
    <script>
        var board = ChessBoard('board', {
            position: 'start',
            pieceTheme: '/images/chesspieces/alpha/{piece}.png',
            draggable: true
        });
    </script>
}