<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChessAndQuests</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="~/ChessAndQuests.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/join-game.css" />
    <link rel="stylesheet" href="~/css/Home.css"~/>
    <link rel="stylesheet" href="~/css/create-game.css" ~ />
    <link rel="stylesheet" href="~/css/signin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />



</head>
<body class="@ViewData["BodyClass"]">
    <header>

        <nav class="navbar navbar-expand-sm navbar-dark fantasy-navbar">
            <div class="navbar-container">
                <a class="navbar-brand" id="logo" asp-controller="Home" asp-action="Index">
                    <img src="~/images/ChessandQuest.png" class="navbar-logo" />
                    ChessAndQuests
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="nav-link" asp-controller="Game" asp-action="TestBoard">Test Board</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
