@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    Layout = "_Layout";
    ViewData["BodyClass"] = "home-page";
    ViewData["Title"] = "Chess and Quest";
}


<h1 class="home-welcome-title text-center">
    Welcome @Accessor.HttpContext.Session.GetString("PlayerUsername") to Chess and Quest
</h1>


<div class="home-buttons">
    <a class="home-btn create" asp-controller="Game" asp-action="CreateGame">
        Create Game
    </a>

    <a class="home-btn join" asp-controller="Game" asp-action="JoinGame">
        Join Game
    </a>
</div>


