@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Accessor.HttpContext.Session.GetString("PlayerUsername") to the best game ever</h1>
    <img src="../Images/ChessandQuest.png" alt="Chess and Quests Logo" />

</div>
